@import "colors";

footer {
  background-color: #first;
  height: 100px;
  width: 100%;
  color: $dark;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2rem;
  position: fixed;
  bottom: 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h2 {
      font: 700 2rem $text1;
      text-transform: uppercase;
      color: $third;
    }
    > p {
      font: 500 0.7rem $text2;
    }
  }
  .contents {
  }
}
