@import "colors";

footer {
  background-color: #c8cbf6;
  height: 200px;
  width: 100%;
  color: $dark;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2rem;
  position: fixed;
  bottom: 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > h2 {
      font: 700 2rem $text1;
      text-transform: uppercase;
      color: $third;
    }
    > p {
      font: 500 0.9rem $text2;
    }
  }
}
