@import "colors";
$first: #f0f0f0; // Define your color variable if not already defined

.home {
  width: 100%;
  height: 10%;
  background-color: $first;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .Patient,
  .Database {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .Patient {
    align-items: flex-start;
  }

  .Database {
    align-items: flex-end;
  }
}
